<form [formGroup]="loginForm"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
      (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput
           type="email"
           formControlName="email"
           placeholder="email">
    <mat-hint>Please enter a your email</mat-hint>
    <mat-error>The email you entered is not valid</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput
           type="password"
           formControlName="password"
           placeholder="password">
    <mat-hint>Please enter your password</mat-hint>
    <mat-error>You haven't entered your password</mat-error>
  </mat-form-field>
  <button type="submit"
          [disabled]="!loginForm.valid"
          mat-raised-button
          color="primary">Login</button>
</form>