<section class="new-training"
         fxLayout
         fxLayoutAlign="center">
  <mat-card fxFlex="400px"
            fxFlex.xs="100%">
    <mat-card-title>Time to start a workout</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <mat-select placeholder="select training type">
          <mat-option value="crunches">
            Crunches
          </mat-option>
          <mat-option value="touch-toes">
            Touch toes
          </mat-option>
          <mat-option value="side-lunges">
            Side lunges
          </mat-option>
          <mat-option value="burpees">
            Burpees
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit"
              mat-button
              (click)="onStartTraining()">Start</button>
    </mat-card-actions>
  </mat-card>
</section>